.giacuSanPham {
    text-decoration: line-through;
    font-size: 12px;
    color: #aaa;
}

.giaSanPham {
    color: red;
    font-size: 16px;
    font-weight: bold;
}

.sanpham {
    border: 1px solid #aaa;

}

.tensanpham {
    font-size: 16px;
    color: #000;
    text-align: justify;
    margin: 0px;
}

.sanpham .content {
    padding: 5px 10px;
}

.sanpham .top-content img {
    max-width: 100%;
}

.top-content {
    position: relative;
    min-height: 160px;
    background: #000;
    width: 100%;
    overflow: hidden;
}

.sanpham-hot,
.sanpham-sale,
.sanpham-hinh {
    z-index: 1;
    position: absolute;

}

.sanpham-hot,
.sanpham-sale {
    z-index: 2;
    width: 100%;
    background: red;
    color: gold;
    text-align: center;
}

.sanpham-hot {
    width: auto;
    padding: 3px 10px;
    bottom: 0px;
    left: 0px;
}

.sanpham-sale {
    transform: rotate(40deg);
    right: -96px;
    top: 16px;
}

/* bo gach chan */
.content a {
    text-decoration: none;
}

/* tạo hiệu ứng rê chuột vào hình */
.top-content:hover .sanpham-hinh {
    /* quay hình 1 góc 10 độ */
    transform: rotate(10deg);
    width: 150%;
    /*  để đè thuộc tính max-width:100% ở trên */
    max-width: 150% !important;
    /* !important ưu tiên */
    left: -30px;
    top: -30px;
    /* để căn giữa hình được phóng to */
    /* tạo độ trễ cho tất cả hiệu ứng */
    transition: all 1.5s;
}

.top-content .sanpham-hinh {
    /* quay hình 1 góc 10 độ */
    transform: rotate(0deg);
    width: 100%;
    /*  để đè thuộc tính max-width:100% ở trên */
    max-width: 100% !important;
    /* !important ưu tiên */
    left: 0px;
    top: 0px;
    /* để căn giữa hình được phóng to */
    /* tạo độ trễ cho tất cả hiệu ứng */
    transition: all 1.5s;
}

.sanpham:hover .sanpham-hot {
    width: auto !important;
    transition: all 2s;
}

.sanpham:hover .sanpham-hot {
    width: 100px !important;
    transition: all 2s;
}

.btn.btn-muangay {
    padding: 5px 10px;
    /* hiển thị cùng dòng nhưng vùng tương tác là nội dung + padding */
    display: inline-block;
    background-color: red;
    color: #fff;
    /* căn giữa */
    margin: auto;

}

* {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col {
    width: 25%;
    max-width: 25%;
    padding: 5px;
}
.sanpham{
    box-shadow: 1px 1px 5px #aaa;
}
/* thứ tự giảm dần */
@media only screen and (max-width: 800px) {
   
    .giacuSanPham {
        text-decoration: line-through;
        font-size: 10px;
        color: #aaa;
    }
    .top-content {
        position: relative;
        min-height: 100px;
        background: #000;
        width: 100%;
        overflow: hidden;
    }
    .tensanpham{
        font-size: 12px;
    }
}
@media only screen and (max-width: 600px) {
    .col {
        width: 50%;
        max-width: 50%;
        padding: 5px;
    }
    .giacuSanPham {
        text-decoration: line-through;
        font-size: 10px;
        color: #aaa;
    }
    .top-content {
        position: relative;
        min-height: 110px;
        background: #000;
        width: 100%;
        overflow: hidden;
    }
}

@media only screen and (max-width: 300px) {
    .col {
        width: 100%;
        max-width: 100%;
        padding: 5px;
    }
    .giacuSanPham {
        text-decoration: line-through;
        font-size: 10px;
        color: #aaa;
    }
}

.panel-title h2{
    margin: 0px;
    border-bottom: 2px solid red;
    font-size: 16px;
    position: relative;
    height: 30px;
    /* đô cao của dòng */
    line-height: 30px;
    color: #fff;
    padding-left: 10px;
}
.panel-title h2::before{
    content: " ";
    width: 200px;
    height: 30px;
    top: 0;
    left: 0;
    position: absolute;
    background: red;
    z-index: -1;
}
